<div class="form-group">
  {{input class="form-control" value=name placeholder="Name" required=true}}
</div>
<div class="form-group">
  {{input class="form-control" value=username placeholder="Username" required=true}}
</div>
<div class="form-group">
  {{input type="password" class="form-control" value=password placeholder="Password" required=true}}
</div>
<div class="form-group">
  {{input type="password" class="form-control" value=name placeholder="Confirm Password" required=true}}
</div>
<label>
  {{input type="checkbox" checked=tos}}
  Agree the terms and policy
</label>
<button type="submit" class="btn btn-success btn-block m-t-xs">Submit</button>
<p class="text-center m-t-xs text-sm">Already have an account?</p>
{{#link-to "login" class="btn btn-default btn-block m-t-xs"}}
  Login
{{/link-to}}